<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
	<head>
		<title>movie_title</title>
	</head>
	<body>
		<nav id="toc" epub:type="toc">
		<h2>Contents</h2>
			<ol>
				<li><a href="cover.html">movie_title</a>
					<ol>
						<li><a href="title.html">movie_title</a></li>
						<li><a href="summary.html">Summary</a></li>
						<li><a href="synopsis.html">Synopsis</a></li>
						<li><a href="trivia.html">Trivia</a></li>
						<li><a href="goofs.html">Goofs</a></li>
						<li><a href="quotes.html">Quotes</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="reviews.html">User Reviews</a></li>
					</ol>
				</li>
			</ol>
		</nav>
		<nav epub:type="landmarks">
		<h2>Landmarks</h2>
			<ol>
				<li><a epub:type="cover" href="cover.html">Cover</a></li>
			</ol>
		</nav>
	</body>
</html>
